@import url("/styles/index.css");

body {
  display: flex;
  align-items: center;
  height: 100svh;
  background-color: var(--sec-color);
}

main {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  place-items: center;

  width: 100%;
  height: 100%;
  margin: auto;

  border-radius: 0.5rem;
}

h1 {
  text-align: center;
}
p {
  font-size: 0.8em;
  font-weight: 500;
}
a {
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: underline;
}

.Form {
  display: grid;
  place-items: center;
  position: relative;
  gap: 1rem;
  width: 100%;
}
.Form__container {
  width: 100%;
}
.Form__container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Form__container input {
  width: 100%;
  margin: auto;
  height: 2.2rem;
  padding: 0 0.6rem;

  border-radius: 1rem;
  border-color: var(--text-color);
  border: solid 1px;
  background-color: var(--sec-color);
}
.Form__container input:focus {
  border-color: var(--pri-color);
  border-width: 2px;
}
.Form__container button {
  width: 85%;
  text-align: center;
  max-width: 220px;
  margin: auto;
  height: 2.2rem;
  border-radius: 1rem;
  background-color: var(--text-color);
  color: var(--sec-color);
  font-weight: 500;
}
.Form__container button:hover {
  background-color: var(--pri-color);
}

.Icons {
  display: grid;
  place-items: center;
  gap: 1.4rem;
  padding: 0 12px;
}
.Icons img {
  width: 1.6rem;
  height: 1.6rem;
}

.Emblem {
  position: absolute;
  top: -60px;
  width: 5rem;
  height: 5rem;
}

.Slider {
  position: absolute;
  bottom: -8rem;
  text-align: center;
}
.Slider--dots_container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.Dot {
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--text-color);
  margin-top: 0.8rem;
}
.Dot--filled {
  background-color: var(--text-color);
}

.Video {
  display: none;
  overflow: hidden;
  position: relative;
}
.Video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Video::after {
  animation: grain 8s steps(10) infinite;
  content: "";
  height: 300%;
  left: -50%;
  position: absolute;
  opacity: 0.2;
  top: -100%;
  width: 300%;
  background: url(/assets/misc/noise.svg), rgba(0, 0, 0, 1);
}

.fade-in {
  animation: fade-in ease-out 1s forwards;
}

.fill-in {
  animation: fill-in 0.8s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: var(--text-color);
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

@media (min-width: 1023px) {
  main {
    max-width: 50vw;
  }

  .Icons img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .Emblem {
    top: -70px;
    width: 6rem;
    height: 6rem;
  }

  .Video {
    width: 50vw;
    height: 100vh;
  }

  .show {
    display: block;
  }
}
