@import url("/styles/index.css");

body {
  display: flex;
  align-items: center;
  height: 100svh;
  background-color: var(--sec-color);
}

header {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 2rem;
}

header nav {
  font-weight: 500;
}

header nav a:first-child {
  margin-right: 12px;
}

header nav a:hover {
  color: var(--pri-color);
}

.logo_bg {
  width: 2rem;
  height: 2rem;
  background-color: var(--text-color);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_bg:hover {
  cursor: pointer;
  background-color: var(--pri-color);
}

.logo_bg img {
  height: 1.1rem;
  width: 1.1rem;
  margin-left: 2px;
}

main {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  place-items: center;

  width: 100%;
  height: 100%;
  margin: auto;

  border-radius: 0.5rem;
}

#form-container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  margin: auto;
  height: 2.2rem;
  padding: 0 0.6rem;

  border-radius: 1rem;
  border-color: var(--text-color);
  border: solid 1px;
  background-color: var(--sec-color);
}

input:focus {
  border-color: var(--pri-color);
  border-width: 2px;
}

button {
  width: 85%;
  text-align: center;
  max-width: 220px;
  margin: auto;
  height: 2.2rem;
  border-radius: 1rem;
  background-color: var(--text-color);
  color: var(--sec-color);
  font-weight: 500;
}

button:hover {
  background-color: var(--pri-color);
}

h1 {
  text-align: center;
}

p {
  font-size: 0.8em;
  font-weight: 500;
}

a {
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: underline;
}

img {
  width: 1.6rem;
  height: 1.6rem;
}

.center_col {
  position: relative;
  display: grid;
  place-items: center;
  gap: 1rem;
  width: 100%;
}

.left_col,
.right_col {
  display: grid;
  place-items: center;
  gap: 1.4rem;
  padding: 0 12px;
}

.emblem {
  position: absolute;
  top: -60px;
  width: 5rem;
  height: 5rem;
}

.slider {
  position: absolute;
  bottom: -8rem;
  text-align: center;
}

.panel {
  display: none;
  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.panel::after {
  animation: grain 7s steps(10) infinite;
  content: "";
  height: 300%;
  left: -50%;
  position: absolute;
  opacity: 0.2;
  top: -100%;
  width: 300%;
  background: url(/assets/misc/noise.svg), rgba(0, 0, 0, 1);
}

.slider_dot_container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.slider_dot_container span {
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--text-color);
  margin-top: 0.8rem;
}
.filled-dot {
  background-color: var(--text-color);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in ease-out 1s forwards;
}

@keyframes fill-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: var(--text-color);
  }
}

.fill-in {
  animation: fill-in 0.8s forwards;
}

@media (min-width: 1023px) {
  main {
    max-width: 50vw;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .emblem {
    top: -70px;
    width: 6rem;
    height: 6rem;
  }

  .panel {
    width: 50vw;
    height: 100vh;
  }

  .show_panel {
    display: block;
  }
}
