<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/auth/auth.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <div id="left_panel" class="show_panel panel">
      <video
        autoplay
        loop
        src="https://assets.mixkit.co/videos/preview/mixkit-cutting-a-sandwich-in-half-for-a-healthy-lunch-26094-large.mp4"
      ></video>
    </div>
    <main>
      <div class="left_col">
        <img src="/assets/icons/apple-solid.svg" />
        <img src="/assets/icons/cookie-outline.svg" />
        <img src="/assets/icons/herb-outline.svg" />
      </div>
      <div class="center_col">
        <img class="emblem" src="/assets/icons/emblem-hex-dots-lines.svg" />
        <h1>Prep</h1>

        <div hx-get="/auth/login" hx-trigger="load" id="form-container">
          Loading...
        </div>

        <a
          hx-get="/auth/register"
          hx-target="#form-container"
          onclick="swapAnchorTag(event)"
          id="sign-up-link"
          >Sign Up</a
        >
        <a
          hx-get="/auth/login"
          hx-target="#form-container"
          onclick="swapAnchorTag(event)"
          id="sign-in-link"
          style="display: none"
          >Sign In</a
        >
        <div class="slider">
          <p id="slider_text">
            Organize your kitchen with Prep, the generative recipe system.
          </p>
          <span class="slider_dot_container">
            <span id="dot_one" class="slider_dot-one filled-dot"></span>
            <span id="dot_two" class="slider_dot-two"></span>
            <span id="dot_three" class="slider_dot-three"></span>
          </span>
        </div>
      </div>
      <div class="right_col">
        <img src="/assets/icons/fruit-bowl-outline.svg" />
        <img src="/assets/icons/lotus-solid.svg" />
        <img src="/assets/icons/rice-bowl-solid.svg" />
      </div>
    </main>
    <div id="right_panel" class="panel">
      <video
        autoplay
        loop
        src="https://assets.mixkit.co/videos/preview/mixkit-spoonful-of-healthy-cereal-with-milk-41147-large.mp4"
      ></video>
    </div>

    <script>
      function swapAnchorTag(e) {
        let id = e.target.id;
        e.target.style.display = "none";

        if (id === "sign-up-link") {
          document.getElementById("sign-in-link").style.display = "block";
          document.getElementById("left_panel").classList.toggle("show_panel");
          document.getElementById("right_panel").classList.toggle("show_panel");
        } else {
          document.getElementById("sign-up-link").style.display = "block";
          document.getElementById("left_panel").classList.toggle("show_panel");
          document.getElementById("right_panel").classList.toggle("show_panel");
        }
      }

      function transitionSliderText(index) {
        let textEl = document.getElementById("slider_text");
        textEl.classList.add("fade-in");

        textEl.innerText = [
          "Organize your kitchen with Prep, the generative recipe system.",
          "Don't let a great dish be forgotten, let Prep save it for next time.",
          "Prep will help you learn, understand, and execute any recipe",
        ][index];

        setTimeout(() => textEl.classList.remove("fade-in"), 2000);
      }

      function transitionFilledDot(index) {
        let dot_one = document.getElementById("dot_one");
        let dot_two = document.getElementById("dot_two");
        let dot_three = document.getElementById("dot_three");

        let dots = [dot_one, dot_two, dot_three];

        let currDot = dots[index];
        let prevDot = dots[index - 1 === -1 ? 2 : index - 1];

        currDot.classList.toggle("filled-dot");
        currDot.classList.add("fill-in");

        prevDot.classList.toggle("filled-dot");

        setTimeout(() => currDot.classList.remove("fill-in"), 2000);
      }

      let i = 1;
      setInterval(() => {
        transitionSliderText(i);
        transitionFilledDot(i);

        i = i === 2 ? 0 : (i += 1);
      }, 5000);
    </script>
  </body>
</html>
