/**** Action Button ****/
.ActionButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 9px;
  width: max-content;

  font-size: var(--sm);
  color: var(--contrast);

  border-radius: var(--border-radius);
  border: var(--solid-border);

  cursor: pointer;
}
.ActionButton__text {
  color: var(--contrast);
}
.ActionButton__text--right {
  font-size: var(--xs);
  margin-left: 9px;
}
.ActionButton__text--left {
  font-size: var(--xs);
  margin-right: 9px;
}
.ActionButton__icon {
  height: 12px;
  width: 12px;
  min-width: 12px;
  min-height: 12px;
}

/**** Headline ****/
.Headline {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--contrast);
  color: var(--contrast);
}
