.Logo {
  width: 1.8rem;
  height: 1.8rem;
  border: var(--sec-color) solid 1px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.Logo:hover {
  cursor: pointer;
}
.Logo img {
  height: 0.9rem;
  width: 0.9rem;
  margin-left: 2px;
}

.Toast {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  visibility: hidden;

  width: max-content;
  max-width: 70vw;
  margin: auto;
  padding: 1rem;

  border-radius: 1.3rem;

  color: var(--sec-color);
  font-size: 0.8em;
  text-align: center;
  z-index: 1000;
}
.Toast.error {
  background-color: rgb(154, 41, 41);
}
.Toast.warning {
  background-color: rgb(154, 145, 41);
}
