@import url("/styles/index.css");

body {
  height: 100svh;
  margin: 0;
}
input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
}
.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  height: 115%;
  width: 40px;
  z-index: 2;
  background-color: dimgrey;
  border-radius: 0.6rem;
}
.cover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  height: 115%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.General,
.Ingredients,
.Directions {
  display: none;
}

.show {
  display: block;
}

.IngredientController {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  width: 80%;
  margin: auto;

  background-color: lightgrey;
  padding: 1rem;
}
.IngredientController__add-button {
  background-color: green;
  color: white;
}
.IngredientController__top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.IngredientController input {
  height: 1.8rem;
  background-color: rgba(0, 0, 0, 0.05);
}
.IngredientController input[name="ingredient"] {
  position: relative;
  display: block;
  width: 100%;
}
.IngredientController__ingredient-wrapper {
  position: relative;
}
.IngredientController__ingredient-wrapper::before {
  content: var(--ingredient-autocomplete);

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  opacity: 0.5;
  z-index: 0;
}
.IngredientController input[name="amount"] {
  width: 40%;
}
.IngredientController input[name="unit"] {
  width: 40%;
}

.StagedIngredient {
  border: green solid 1px;
  border-radius: 1.5rem;
  padding: 1rem;
}
