@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --pri-color: #25383b;
  --sec-color: #f3fafc;
  --tri-color: #cbccc3;
  --quad-color: #aeb3b0;
  --text-color: #19231c;
}

html,
body {
  background-color: var(--quad-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

p,
a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-color);
}
