<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>

    <title>Your Recipes</title>
  </head>
  <body id="app">
    <header>
      <input
        placeholder="Search"
        type="search"
        name="search"
        id="search_box"
        oninput="searchRecipes(event)"
      />
      <button>Filter</button>
      <button>
        <a
          hx-get="/recipe/create"
          hx-target="#app"
          hx-swap="innerHTML"
          hx-push-url="true"
          >Create</a
        >
      </button>
    </header>
    <main>
      <ul id="list_container">
        {% for recipe in recipes %}
        <li>
          <a href="/recipe/select/{{ recipe.recipe_id }}">
            {{ recipe.recipe_title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      <div id="recipes_list_anchor"></div>
    </main>

    <script>
      function searchRecipes(e) {
        let listContainer = document.getElementById("list_container");
        let searchValue = e.target.value.toLowerCase();
        let recipes = listContainer.querySelectorAll("a");

        for (recipe of recipes) {
          let recipeName = recipe.innerText.toLowerCase();
          if (!recipeName.startsWith(searchValue)) {
            recipe.parentElement.classList.add("hidden");
          } else {
            recipe.parentElement.classList.remove("hidden");
          }
        }
      }
    </script>
  </body>
</html>
