<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Create Recipe</title>
  </head>

  <body id="app">
    <div class="Toast" id="toast">
      <p id="toast_message">An error has occurred</p>
    </div>

    <template id="RecipeIngredient">
      <div class="StagedIngredient">
        <input
          type="text"
          name="ingredient"
          placeholder="ingredient"
          oninput="handleIngredientInput(event)"
        />
        <input
          type="number"
          name="amount"
          placeholder="amount"
          onkeydown="handleAmountKeyPress(event)"
        />
        <input
          type="text"
          name="unit"
          placeholder="unit"
          oninput="handleUnitInput(event)"
        />
      </div>
    </template>

    <template id="RecipeDirection">
      <textarea
        type="text"
        name="direction"
        placeholder="direction"
        oninput="handleDirectionInput(event)"
      ></textarea>
    </template>

    <template id="RecipeTag">
      <input
        type="text"
        name="tag"
        placeholder="tag"
        oninput="handleTagInput(event)"
      />
    </template>

    <main>
      <header>
        <button><a hx-get="/recipe/all" hx-push-url="true">Back</a></button>
        <nav>
          <span id="general_nav">General</span>
          <span id="ingredient_nav">Ingredients</span>
          <span id="direction_nav">Directions</span>
        </nav>
      </header>

      <div id="direction_controller" class="DirectionController">
        <span
          class="IngredientController__add-button"
          onclick="createStagedDirection(event)"
          >Plus
        </span>
        <textarea
          id="direction_controller_direction"
          placeholder="Input direction"
        ></textarea>
      </div>

      <div id="ingredient_controller" class="IngredientController">
        <div class="flex justify-space-between">
          <div class="IngredientController__amount-wrapper relative">
            <div
              id="fraction_hint"
              class="IngredientController__fraction-hint flex align-center"
            ></div>
            <input
              type="number"
              name="amount"
              placeholder="amount"
              onkeydown="handleAmountKeyPress(event)"
              oninput="handleAmountInput(event)"
              id="ingredient_controller_amount"
            />
          </div>

          <div class="IngredientController__unit-wrapper relative">
            <input
              type="text"
              name="unit"
              placeholder="unit"
              id="ingredient_controller_unit"
            />
          </div>

          <span
            class="IngredientController__add-button"
            onclick="createStagedIngredient(event)"
            >Plus
          </span>
        </div>

        <div class="IngredientController__ingredient-wrapper relative">
          <input
            type="text"
            name="ingredient"
            placeholder="ingredient"
            id="ingredient_controller_ingredient"
          />
        </div>
      </div>

      <form id="recipe_form" action="/recipe/create" method="POST">
        <section id="general_section" class="General">
          <h2>New Recipe</h2>
          <input type="text" name="title" placeholder="title" />
          <br />
          <input type="number" name="servings" placeholder="servings" />
          <h4>Tags</h4>
          <recipe-tag></recipe-tag>

          <h4>Ingredients</h4>
          <div id="ingredients_preview">
            <div id="preview_ingredient_anchor"></div>
          </div>

          <h4>Directions</h4>
          <ol id="directions_preview">
            <div id="preview_direction_anchor"></div>
          </ol>

          <button type="submit">Submit</button>
        </section>

        <section id="ingredient_section" class="Ingredients">
          <h3>Ingredients</h3>
          <div id="staged_ingredient_anchor"></div>
        </section>
        <section id="direction_section" class="Directions">
          <h3>Directions</h3>
          <ol>
            <div id="staged_direction_anchor"></div>
          </ol>
        </section>
      </form>
    </main>

    <footer class="fixed bottom-0 left-0 bg-gray-500 w-full">
      <button>
        <a
          hx-get="/dash"
          hx-target="#app"
          hx-swap="innerHTML"
          hx-push-url="true"
        >
          Dashboard
        </a>
      </button>
      <button><a hx-get="/usr/profile">Profile</a></button>
    </footer>
    <script type="module" src="/scripts/recipe/create/index.js"></script>
  </body>
</html>
