<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/index.css" />
    <script type="module" src="/scripts/components/index.js"></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>

    <title>{{ title }}</title>
  </head>
  <body id="app">
    <header>
      <button><a href="/recipe/all">Back</a></button>
    </header>
    <h2>{{ title }}</h2>
    <h5>Is A Favorite: {{ favorite }}</h5>

    <section>
      <h3>Ingredients</h3>
      <ul>
        {% for ing in ingredients %}
        <li>
          <span>
            {{ ing.amount }} {{ ing.unit }} {{ ing.ingredient_name }}
          </span>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Directions</h3>
      <ul>
        {% for dir in directions %}
        <li>
          <span> {{ dir.step_order }} {{ dir.direction_details }} </span>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Tags</h3>
      <ul>
        {% for tag in tags %}
        <li>
          <span> {{ tag.tag_name }} </span>
        </li>
        {% endfor %}
      </ul>
    </section>

    <app-bar></app-bar>
  </body>
</html>
