@import url("/pages/global/styles/index.css");

body {
  height: 100svh;
  background-color: var(--sec-color);
}
main {
  margin: 0 1rem;
  margin-top: 4rem;
}

article {
  margin-top: 1.5rem;
  padding: 0 15px;
}

.General,
.Ingredients,
.Directions {
  display: none;
}
.General.show,
.Ingredients.show,
.Directions.show {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 1rem;

  border-bottom: 1px solid var(--text-color);
}

input[name="title"] {
  font-size: var(--xl);
}

.Header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;

  background-color: var(--sec-color);
  width: 100%;

  padding: 1rem;
}
.Header__right-panel {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.Headline {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--contrast);
  color: var(--contrast);
}

.ActionButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 9px;
  width: max-content;

  font-size: var(--sm);
  color: var(--contrast);

  border-radius: var(--border-radius);
  border: var(--solid-border);

  cursor: pointer;
}
.ActionButton__text {
  color: var(--contrast);
}
.ActionButton__text--right {
  font-size: var(--xs);
  margin-left: 9px;
}
.ActionButton__text--left {
  font-size: var(--xs);
  margin-right: 9px;
}
.ActionButton__icon {
  height: 12px;
  width: 12px;
  min-width: 12px;
  min-height: 12px;
}

/* MD */
@media (min-width: 768px) {
  .General,
  .Ingredients,
  .Directions {
    display: block;
  }
  form {
    display: flex;
  }
}
