@import url("/pages/global/styles/index.css");

body {
  height: 100svh;
  background-color: var(--sec-color);
}
main {
  margin: 0 1rem;
  margin-top: 4rem;
}

article {
  margin-top: 1.5rem;
}

.General,
.Ingredients,
.Directions {
  display: none;
}
.General.show,
.Ingredients.show,
.Directions.show {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;

  padding: 1rem;

  border-bottom: 1px solid var(--text-color);
}

input[name="title"] {
  font-size: var(--xl);
  border: var(--dashed-border);
  width: 100%;
  margin: 1rem 0;
}
input[name="servings"] {
  font-size: var(--rg);
  border: var(--dashed-border);
}

.Header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;

  background-color: var(--sec-color);
  width: 100%;

  padding: 1rem;
}
.Header__right-panel {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

.Headline {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--contrast);
  color: var(--contrast);
}

/* MD */
@media (min-width: 768px) {
  .General,
  .Ingredients,
  .Directions {
    display: block;
  }
  form {
    display: flex;
  }
}
