@import url("/pages/global/styles/index.css");

body {
  height: 100svh;
  background-color: var(--sec-color);
}
main {
  margin: 0 1rem;
  margin-top: 7rem;
}

article {
  margin-top: 1.5rem;
}

.General,
.Ingredients,
.Directions,
.Tags {
  display: none;
}
.General.show,
.Ingredients.show,
.Directions.show,
.Tags.show {
  display: block;
}

.Tags__stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.Tags__stack input {
  display: none;
}
.Tags__stack p {
  background-color: var(--sec-color);
  border: var(--solid-border);
  border-radius: var(--border-radius);

  padding: var(--button-padding);
}
.Tags__stack p.Checked {
  color: var(--sec-color);
  background-color: var(--accent);
}

nav {
  position: fixed;
  top: 3.5rem;
  left: 0;

  display: flex;
  justify-content: space-between;

  padding: 0.6rem 1rem;
  width: 100%;

  background-color: var(--sec-color);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
nav .active {
  color: var(--accent);
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 4px;
}

input[name="title"] {
  font-size: var(--xl);
  border: var(--dashed-border);
  width: 100%;
  margin: 1rem 0;
}
input[name="servings"] {
  font-size: var(--rg);
  border: var(--dashed-border);
}

.Header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;

  background-color: var(--sec-color);
  width: 100%;

  padding: 1rem;
  z-index: 100;
}
.Header__right-panel {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
}

/* MD */
@media (min-width: 768px) {
  .General,
  .Ingredients,
  .Directions {
    display: block;
  }
  form {
    display: flex;
  }
}
