<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello Dashboard

    <form action="/auth/logout" method="POST">
      <input id="csrf_token" type="hidden" name="csrf_token" />
      <button type="submit">Logout</button>
    </form>
  </body>

  <script>
    const CSRF_COOKIE_KEY = "csrf_token";

    let csrf_cookie = document.cookie
      .split(";")
      .find((item) => item.includes(CSRF_COOKIE_KEY));

    let csrf_token = csrf_cookie.substring((CSRF_COOKIE_KEY + "=").length);
    document.getElementById(CSRF_COOKIE_KEY).value = csrf_token;
  </script>
</html>
