<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./styles/index.css" /> -->
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      <div>
        <label>Username:<input type="text" name="email" /></label>
      </div>
      <div>
        <label>Password:<input type="password" name="password" /></label>
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
  <script src="../scripts/index.js"></script>
</html>
