<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>

    <title>Dashboard</title>
  </head>
  <body id="app">
    <footer class="fixed bottom-0 left-0 bg-gray-500 w-full">
      <button>
        <a hx-get="/recipe/all" hx-target="#app" hx-push-url="true">
          Recipes
        </a>
      </button>
      <button><a hx-get="/usr/profile">Profile</a></button>
    </footer>
  </body>
</html>
